{% extends 'base.html.twig' %}
{% block title %} Add tricks {% endblock %}
{% block body %}

    <br/><br/><br/><br/>
    <div class="center-block example-wrapper text-center">
    <h1>Launch a new Tricks! ?</h1>
    {{ form_start(addTricksForm) }}


        {{ form_row(addTricksForm.name) }}
        {{ form_row(addTricksForm.description) }}
        {{ form_row(addTricksForm.categoryTricks) }}

        <div class="row js-genus-scientist-wrapper data"
            data-prototype ="{{ form_widget(addTricksForm.Illustration.vars.prototype)|e('html_attr') }}"
             data-index="{{ addTricksForm.Illustration|length }}">


            <div class="col-lg-11">
                <a href="#" class="js-genus-scientist-add" id="add_button_media">
                    <span class="fa fa-plus-circle"></span>
                    Add Image to this tricks
                </a>
            </div>
        </div>


        <hr>


        <div class="row js-embed-scientist-wrapper data"
             data-prototype ="{{ form_widget(addTricksForm.Embed.vars.prototype)|e('html_attr') }}"
             data-index="{{ addTricksForm.Embed|length }}">

            <div class="col-lg-11">
                <a href="#" class="js-embed-scientist-add" id="add_button_embed">
                    <span class="fa fa-plus-circle"></span>
                    Add Embed Balise
                </a>
            </div>
        </div>


            <br/><br/><br/>
            <button type="submit" class="btn btn-primary submit">Create!</button><br/><br/>
            {% do addTricksForm.Illustration.setRendered() %}
            {{ form_end(addTricksForm) }}


    </div>
{% endblock %}