{% extends 'base.html.twig' %}
{% block title %} Add tricks {% endblock %}
{% block body %}

    <br/><br/><br/><br/>
    <div class="center-block example-wrapper">
    <h1>Launch a new Tricks! ?</h1>
    {{ form_start(addTricksForm) }}


        {{ form_row(addTricksForm.name) }}
        {{ form_row(addTricksForm.description) }}
        {{ form_row(addTricksForm.categoryTricks) }}


        <div class="row js-genus-scientist-wrapper data"
            data-prototype ="{{ form_widget(addTricksForm.Illustration.vars.prototype)|e('html_attr') }}"
             data-index="{{ addTricksForm.Illustration|length }}">


            <a href="#" class="js-genus-scientist-add">
                <span class="fa fa-plus-circle"></span>
                Add Image to this tricks
            </a>
        </div>

        <hr>


        <div class="row js-embed-scientist-wrapper data"
             data-prototype ="{{ form_widget(addTricksForm.Embed.vars.prototype)|e('html_attr') }}"
             data-index="{{ addTricksForm.Embed|length }}">


            <a href="#" class="js-embed-scientist-add">
                <span class="fa fa-plus-circle"></span>
                Add Embed Balise
            </a>
        </div>


            <br/><br/><br/>
            <button type="submit" class="btn btn-primary submit">Create!</button><br/><br/>
            {% do addTricksForm.Illustration.setRendered() %}
            {{ form_end(addTricksForm) }}


    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var element = document.getElementById('data');



        jQuery(document).ready(function() {
            var $wrapper = $('.js-genus-scientist-wrapper');
            $wrapper.on('click', '.js-remove-scientist', function(e) {
                e.preventDefault();
                $(this).closest('.js-genus-scientist-item')
                    .fadeOut()
                    .remove();
            });
            $wrapper.on('click', '.js-genus-scientist-add', function(e) {
                e.preventDefault();
                // Get the data-prototype explained earlier
                var prototype = $wrapper.data('prototype');
                // get the new index
                var index = $wrapper.data('index');
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);
                // increase the index with one for the next item
                $wrapper.data('index', index + 1);
                // Display the form in the page before the "new" link
                $(this).before(newForm);
            });


            var $wrapper2 = $('.js-embed-scientist-wrapper');
            $wrapper2.on('click', '.js-embed-scientist-add', function(e) {
                e.preventDefault();
                // Get the data-prototype explained earlier
                var prototype = $wrapper2.data('prototype');
                // get the new index
                var index = $wrapper2.data('index');
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);
                // increase the index with one for the next item
                $wrapper2.data('index', index + 1);
                // Display the form in the page before the "new" link
                $(this).before(newForm);
            });




        });
    </script>

{% endblock %}