{% extends 'base.html.twig' %}

{% block title %} my profile {% endblock %}
{% block body %}
    <br/><br/><br/><br/>

    <section class="d-flex justify-content-center">
        <h3>Welcome back, {{ app.user.Username }}</h3>
    </section>

    <div class="container ">

        {% if app.user.picture is defined %}
        <img class="img-fluid" src="img/user/{{ app.user.picture }}" width="10%"/><br/><br/>
        {% endif %}
        <p> mail: {{ app.user.email }} </p>
        <p> numéro d'inscrit: {{ app.user.id }}</p>
        <p> username: {{ app.user.Username }}</p>


        <div class="example-wrapper">
            {{ form_start(UserPictureFormType) }}
            {{ form_widget(UserPictureFormType) }}
            <button type="submit" class="btn btn-primary">Upload an image</button>
            {{ form_end(UserPictureFormType) }}
        </div>

    </div>





{% endblock %}