{% extends 'base.html.twig' %}

{% block title %} my profile {% endblock %}
{% block body %}
    <br/><br/><br/><br/>

    <section class="d-flex justify-content-center">
        <h3>Welcome back, {{ app.user.Username }}</h3>
    </section>

    <div class="container ">

        <div class="col-lg-5">
            {% if app.user.picture is defined %}
            <img class="img-fluid" src="img/user/{{ app.user.picture }}" width="10%"/><br/><br/>
            {% endif %}
            <p> mail: {{ app.user.email }} </p>
            <p> numéro d'inscrit: {{ app.user.id }}</p>
            <p> username: {{ app.user.Username }}</p>

        </div>

        <div class="example-wrapper">
            {{ form_start(UserPictureFormType) }}
            {{ form_widget(UserPictureFormType) }}
            <button type="submit" class="btn btn-primary">Upload an image</button>
            {{ form_end(UserPictureFormType) }}
        </div>

        <button type="button" class="btn btn-warning"><a data-toggle="modal" href="#modalpassword">Change my password</a> </button>


        <!-- DELETE MODALS -->
        <div class="modal myModal" id="modalpassword" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Change my password </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        {{ form_start(UserPasswordFormType) }}
                        {{ form_widget(UserPasswordFormType) }}
                        <button type="submit" class="btn btn-primary">Change my password </button>
                        {{ form_end(UserPasswordFormType) }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>





{% endblock %}