{% extends 'base.html.twig' %}

{% block title %} Edit Tricks {% endblock %}
{% block body %}
    <br/><br/><br/><br/>
    <div class="center-block example-wrapper">
        <h1>Edit tricks : {{ trick.name }}</h1>

        {{ form_start(addTricksForm) }}

        {{ form_row(addTricksForm.name) }}
        {{ form_row(addTricksForm.description) }}
        {{ form_row(addTricksForm.categoryTricks) }}

        <div class="row js-genus-scientist-wrapper data"
             data-prototype ="{{ form_widget(addTricksForm.Illustration.vars.prototype)|e('html_attr') }}"
             data-index="{{ addTricksForm.Illustration|length }}">
            <div class="add_button">
                <div class="col-lg-11">
                    <a href="#" class="js-genus-scientist-add">
                        <span class="fa fa-plus-circle"></span>
                        Add Image to this tricks
                    </a>
                </div>
            </div>
        </div>

        <hr>
        <div class="row js-embed-scientist-wrapper data"
             data-prototype ="{{ form_widget(addTricksForm.Embed.vars.prototype)|e('html_attr') }}"
             data-index="{{ addTricksForm.Embed|length }}">


            <div class="col-lg-11">
                <a href="#" class="js-embed-scientist-add">
                    <span class="fa fa-plus-circle"></span>
                    Add Embed Balise
                </a>
            </div>
        </div>
            <br/><br/><br/>
            <button type="submit" class="btn btn-primary submit">Update this Tricks</button><br/><br/>

            {% do addTricksForm.Illustration.setRendered() %}
            {{ form_end(addTricksForm) }}


            <hr>

            <div class="row">
                <div class="col-lg-5 center-block">
                <h1>Media for this tricks</h1>
                </div>
            </div>


            <div class="row">

                {% for i in 0..10 %}
                    {%  if  trick.Illustration[i].path is defined and trick.Illustration[i].type == 'Picture' %}
                        <div class="col-lg-11 center-block text-center">
                            <img src="{{ asset('img/'~trick.Illustration[i].path) }}" alt="{{ trick.Illustration[i].texte }}" /><br/>
                            <a data-toggle="modal" href="#myModal0">Delete Image</a><br/>
                            <a href="{{ path('select_thumbnail', { id: trick.Illustration[i].id, trick: trick.id}) }}"  class="btn btn-primary">Select for thumbnails </a>
                            <hr>
                        </div>

                        <!-- DELETE MODALS -->
                        <div class="modal myModal" id="myModal0" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete an image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Your are sure to delete this image ?  </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('image_delete', { id: trick.Illustration[i].id}) }}" type="button" class="btn btn-primary">Delete </a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                {% endfor %} <br/>

                <!------------- EMBED AFFICHAGE ET MODALS DELETE -------------------->

                {% for i in 0..10 %}
                    {%  if trick.Illustration[i].path is defined  %}
                        {% if trick.Illustration[i].type == 'Embed' %}
                        <div>
                            {{ trick.Illustration[i].path|html }}<br/>
                            <a data-toggle="modal" href="#myModal10">Delete Embed Balise</a>
                        </div>

                        <!-- DELETE MODALS -->
                        <div class="modal myModal" id="myModal10" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete an Embed Balise</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Your are sure to delete Embed Balise ?  </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('embed_delete', { id: trick.Illustration[i].id}) }}" type="button" class="btn btn-primary">Delete </a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}


            </div>

    </div>
    <br/><br/><br/><br/><br/>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">

    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        var element = document.getElementById('data');

        jQuery(document).ready(function() {
            var $wrapper = $('.js-genus-scientist-wrapper');
            $wrapper.on('click', '.js-remove-scientist', function(e) {
                e.preventDefault();
                $(this).closest('.js-genus-scientist-item')
                    .fadeOut()
                    .remove();
            });
            $wrapper.on('click', '.js-genus-scientist-add', function(e) {
                e.preventDefault();
                var prototype = $wrapper.data('prototype');
                var index = $wrapper.data('index');
                var newForm = prototype.replace(/__name__/g, index);
                $wrapper.data('index', index + 1 );
                console.log(index);
                $(this).before(newForm);
            });
            var $wrapperEmbed = $('.js-embed-scientist-wrapper');
            $wrapperEmbed.on('click', '.js-embed-scientist-add', function(e) {
                e.preventDefault();
                var prototype = $wrapperEmbed.data('prototype');
                var embedIndex = $wrapperEmbed.data('index');
                var newForm = prototype.replace(/__name__/g, embedIndex);
                $wrapperEmbed.data('index', embedIndex + 1);
                $(this).before(newForm);
            });


        });
    </script>
{% endblock %}
