{% extends 'base.html.twig' %}

{% block body %}
    <br/><br/><br/><br/>
    <div class="center-block example-wrapper">
        <h1>Edit tricks</h1>

        {{ form_start(trickForm) }}
        {{ form_widget(trickForm) }}
        <button type="submit" class="btn btn-primary">Update</button>
        {{ form_end(trickForm) }}

        <br/>
        <h1>Media for this tricks</h1>
        <br/>

        <div class="card" style="width: 18rem;">
            <!-- TODO: Supprimer un media associé a ce trick -->
            <img class="img-fluid" src="../public/{{ trick.Illustration[0].path }}" alt="../public/{{ trick.Illustration[0].path }}" width="32%;">
        </div>

    </div>
    <br/><br/><br/><br/><br/>


{% endblock %}
