{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}
{% block body %}

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0"> Snowtricks Website</h1>
        <h2 class="masthead-subheading mb-0"> <i class="fa fa-angle-double-right"></i> Share your tricks, Learn Snow</h2>
        <a href="{{ path('learn')}}" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>


  <div class="row" id="trickList">
    <div id="group-trick">
        {% for trick in tricks | slice(0,9)%}

          <div class="trick">
            <div class="card" style="width: 18rem;">


              {% for image in trick.Illustration %}

                    {% if image.thumbnail == true %}
                        <img class="card-img-top" src="img/{{ image.path }}" alt="{{ image.texte }}" >
                    {% endif %}
                <!-- else : image par defaut -->
              {% endfor %}

              <div class="card-body">
                <a href="./single/{{ trick.id }}" class="card-text"><p class="title-trick"> {{ trick.name }} </p></a>

                {%  if trick.author.username == visitorName %}
                <div id="icon-trick">
                  <a href="{{ path('admin_article_edit', { tricks: trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                  <a data-toggle="modal" href="#myModal"><i class="fas fa-trash-alt"></i></a>

                  <!-- DELETE MODALS -->
                  <div class="modal myModal" id="myModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Delete on tricks</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete this trick as well as the media and commentary that accompanies it? </p>
                        </div>
                        <div class="modal-footer">
                          <a href="{{ path('admin_trick_delete', { id: trick.id}) }}" type="button" class="btn btn-primary">Delete </a>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
                {% endif %}

                <p> {{ trick.description }}</p>

              </div>
            </div>
          </div>

        {% endfor %}

        <div id="trick-card"></div>
    </div>
  </div>

      <button id="loadMoreTricks" class="btn btn-primary text-center load"> Load More Tricks</button>



  <br/>
  <br/>
  <br/>
  <br/>

  <!-- Footer -->
  <footer class="py-5 bg-black">

    <div class="container">
      <div class="row">
        <div class="col-lg-4">

        </div>

        <div class="col-lg-4">

        </div>

      </div>
    </div>

    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous">
  </script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>

    document.getElementById("loadMoreTricks").addEventListener("click", loadMoreTricks);
    click = 0;
    function loadMoreTricks(event) {
      event.preventDefault();
      click++;
      var start = 9 * click;

      $.ajax({

        url: "{{ path('loadMoreTricks') }}",
        type : 'POST',
        data: 'start=' + start,
        dataType : 'html',
        success : function(data, statut){
          console.log(statut);
          $('#group-trick').append(data);
        }
      });

      if(start > {{ tricks|length }}){
      $('#loadMoreTricks').fadeOut();
      }
    }

  </script>
{% endblock %}



