{% extends 'base.html.twig' %}

{% block title %} {{ trick.name }} {% endblock %}
{% block body %}
    <br/><br/><br/><br/>
<section>
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center" >

                {% for media in medias %}
                <img class="img-fluid  " src="../{{ media.path }}" alt="{{ media.texte }}" width="90%;">
                {% endfor %}

            </div>
        </div>
        <div class="row row align-items-center">
            <div class="col-lg-12">
                <div class="p-5">
                    <h2 class="display-4 text-center"> Snowtricks n°{{ id }} : {{ trick.name }}</h2><br/><br/>

                    <div class=" col-lg-6">

                        {% for media in medias %}

                                <img class="img-fluid " src="../{{ media.path }}" alt="">
                        {% endfor %}
                        <br/><br/><br/><br/><br/>

                    </div>
                    <p>{{ trick.description }}</p>
                </div>
            </div>
        </div>
    </div>

</section>

<br/><br/>
<section>
    <div class="container">


        <!-- HERE MAKE A BOOTSTRAP CARD FOR CATEGORY AND DIFFICULTY -->
        <div class="row">
            <div class="group-label">
                <span class="label label-default ">  {{ trick.categoryTricks.name }} </span>
            </div>
        </div>

        <br/><br/>
        <hr>
        <br/><br/>

        <div class="text-center">
            TODO : Form to league a comment
        </div>
        <div class="row align-items-center">
            <div class="col-lg-offset-3 col-lg-6">

                <h2> Chat about this trick  </h2>

                {% if comments is defined %}
                    {% for comment in comments %}

                        <ul>
                            <li>
                                <p>{{ comment.user.username }}</p>
                                <p>{% if comment.date is defined %}{{ comment.date }}{% endif %}</p>
                                <p>{{ comment.content }}</p>
                            </li>
                            <hr class="little-hr">
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>

                </p>
            </div>
        </div>

        <br/>
        <br/>
        <br/>
    </div>
</section>

{% endblock %}