{% extends 'base.html.twig' %}

{% block title %} {{ trick.name }} {% endblock %}
{% block body %}
    <br/><br/><br/><br/>
<section>
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center" >

                {% for image in medias %}

                    {% if image.thumbnail == true %}

                <img class="card-img-top" src="{{ asset('img/'~image.path) }}" alt="{{ image.texte }}" height="65%">
                    {% endif %}

                {% endfor %}


            </div>
        </div>
        <div class="row row align-items-center">
            <div class="col-lg-12">
                <div class="p-5">
                    <h2 class="display-4 text-center"> Snowtricks n°{{ id }} : {{ trick.name }}</h2><br/><br/>

                    <div class=" col-lg-12">

                        <div class="media-container text-left ">

                        {% for media in medias %}

                            {% for i in 0..10 %}
                                {% if Embed[i] is defined %}
                                    {{ Embed[i].path|html }}
                                {% endif %}
                            {% endfor %}

                                <img class="img-fluid " src="{{ asset('img/'~media.path) }}" alt="{{ media.texte }}" >


                        {% endfor %}
                        </div>
                        <br/><br/><br/><br/><br/>

                    </div>
                    <p>{{ trick.description }}</p>
                </div>
            </div>
        </div>
    </div>

</section>

<br/><br/>
<section>
    <div class="container">


        <div class="row">
            <div class="group-label">
                <span> category: </span>
                <span class="label label-default ">  {{ trick.categoryTricks.name }} </span>
            </div>
        </div>

        <br/><br/>
        <hr>
        <br/><br/>

        {% if app.user %}
        <div class="text-center">
            {{ form_start(AddCommentForm) }}
            {{ form_widget(AddCommentForm) }}

            <button type="submit" class="btn btn-primary"> Comment</button>
            {{ form_end(AddCommentForm) }}
        </div>
        {% endif %}
        <div class="row align-items-center">
            <div class="col-lg-offset-3 col-lg-6 chat">

                <h2> Chat about this trick  </h2>

                <div id="comment-list">
                {% if comments is defined %}
                    {% for comment in comments  %}

                        <ul>
                            <li>
                                <div class="row">

                                    <div class="col-lg-3">
                                        {% if comment.user.picture is defined %}
                                           <img class="img-fluid" src="{{ asset('img/user/'~comment.user.picture) }}" width="200"/>

                                        {% endif %}
                                    </div>
                                    <div class="col-lg-7">
                                        <p class="username-comment">{{ comment.user.username }}, at
                                            {% if comment.createdAt is defined %} {{ comment.createdAt|date("m/d/Y") }}
                                            {% endif %}</p>

                                        <p class="comment-content">{{ comment.content }}</p>
                                    </div>
                                </div>
                            </li>
                            <hr class="little-hr">
                        </ul>

                    {% endfor %}

                    <div class="block-center text-center align-items-center paginate">
                        <div class="col-12 text-center">
                            <button id="loadMoreComment" class="btn btn-primary"> More Comment</button>
                        </div>
                    </div>

                {% else %}
                    <p> There are not comments for this tricks </p>

                {% endif %}
                </div>

            </div>

                </p>
            </div>
        </div>

        <br/>
        <br/>
        <br/>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        document.getElementById("loadMoreComment").addEventListener("click", loadMoreComments);
        click = 0;

        function loadMoreComments(event) {
            event.preventDefault();
            click++;
            var start = 3 * click;
            const url = "{{ path('loadMoreComments', {'id': trick.id} )}}/" + start;
            axios.get(url).then(function(response) {
                $("#comment-list").append(response.data);
            }).catch(function (error) {
                if (response.status === 403) {
                    window.alert("Vous n'êtes pas autorisé à effectuer cette action !");
                }
                else if (response.status === 404) {
                    window.alert("La page appelé n'existe pas");
                }
                else {
                    window.alert("Une erreur est survenue !");
                }
            });
        }

        /*
        function loadMoreComment(event) {
            event.preventDefault();
            click++;
            var start = 3 * click;

            $.ajax({

                url: "{ { path('loadMoreComment') }}",
                type : 'POST',
                data: 'start=' + start,
                dataType : 'html',
                success : function(data, statut){ // code_html contient le HTML renvoyé
                    console.log(statut);
                    $('#group-trick').append(data);


                }
            });

            if(start > 9) {
                $('#loadMoreComment').fadeOut();
            }




        }
        */

    </script>
{% endblock %}