{% extends 'base.html.twig' %}

{% block title %} {{ trick.name }} {% endblock %}
{% block body %}
    <br/><br/><br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" >

                {% for image in medias %}

                    {% if image.thumbnail == true %}

                <img class="card-img-top" src="{{ asset('img/'~image.path) }}" alt="{{ image.texte }}" height="55%">
                    {% endif %}

                {% endfor %}


            </div>
        </div>
        <div class="row row align-items-center">
            <div class="col-lg-12">
                <div class="p-5">
                    <h2 class="display-4 text-center"> Snowtricks n°{{ id }} : {{ trick.name }}</h2><br/><br/>

                    <div class="col-lg-11">

                        <div class="media-container text-left center-block">

                        {% for media in medias %}

                            {% for i in 0..10 %}
                                {% if Embed[i] is defined %}
                                    {{ Embed[i].path|html }}
                                {% endif %}
                            {% endfor %}
                                <div class="row">
                                    <div class="col-lg-11">
                                <img class="img-fluid" src="{{ asset('img/'~media.path) }}" alt="{{ media.texte }}" ><br/>
                                    </div>
                                </div>


                        {% endfor %}
                        </div>
                        <br/><br/><br/><br/><br/>

                    </div>
                    <p>{{ trick.description }}</p>
                </div>
            </div>
        </div>
    </div>

<br/><br/>

    <div class="container">

        <div class="row">
            <div class="group-label col-lg-12">
                <div class="center-block">
                    <span> category: </span>
                    <span class="label label-default">  {{ trick.categoryTricks.name }} </span>
                </div>
            </div>
        </div>

        <br/><br/>
        <hr>
        <br/><br/>

        {% if app.user %}
        <div class="text-center center-block">
            {{ form_start(AddCommentForm) }}
            {{ form_widget(AddCommentForm) }}

            <button type="submit" class="btn btn-primary"> Comment</button>
            {{ form_end(AddCommentForm) }}
            <br/>
        </div>
        {% endif %}
        <div class="row align-items-center center-block">
            <div class="center-block chat col-lg-12">

                <h2> Chat about this trick  </h2>

                <div id="comment-list center-block">
                {% if comments is defined %}
                    {% for comment in comments | slice(0,3) %}

                        <ul>
                            <li>
                                <div class="row">

                                    <div class="col-lg-3">
                                        {% if comment.user.picture is defined %}
                                           <img class="img-fluid" src="{{ asset('img/user/'~comment.user.picture) }}" width="200"/>

                                        {% endif %}
                                    </div>
                                    <div class="col-lg-7">
                                        <p class="username-comment">{{ comment.user.username }}, at
                                            {% if comment.createdAt is defined %} {{ comment.createdAt|date("m/d/Y") }}
                                            {% endif %}</p>

                                        <p class="comment-content">{{ comment.content }}</p>
                                    </div>
                                </div>
                            </li>
                            <hr class="little-hr">
                        </ul>

                    {% endfor %}
                </div>
                    <div class="block-center text-center align-items-center paginate">
                        <div class="col-12 text-center">
                            <button id="loadMoreComment" class="btn btn-primary btn-comment-1"> More Comment</button>
                        </div>
                    </div>

                {% else %}
                    <p> There are not comments for this tricks </p>

                {% endif %}


            </div>
        </div>

        <br/>
        <br/>
        <br/>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.getElementById("loadMoreComment").addEventListener("click", loadMore);
        click = 0;

        function loadMore(event) {
            event.preventDefault();
            click++;
            var start = 3 * click;

            $.ajax({

                url: "{{ path('loadMoreComments', {'id': trick.id} ) }}/" + start,
                type: 'POST',
                data: 'start=' + start,
                dataType: 'html',
                success: function (data, statut) {
                    console.log(data);
                    $('#comment-list').append(data);
                }
            });

            if( start > {{ comments|length }}) {
                $('#loadMoreComment').fadeOut();
            }
        }
    </script>
{% endblock %}